ion-content {
  --background: #a5d300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  touch-action: none;

  // Variables de colores
  $game-bg-color: white;
  $button-bg: #ff6600;
  $text-bg: rgb(172, 172, 172);

  .game-container {
    background: $game-bg-color;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 70px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px; // Limita el ancho en pantallas grandes
  }

  .corner-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;

    &-left {
      top: env(safe-area-inset-top, 15px);
      left: 10px;
    }

    &-right {
      top: 10px;
      right: 10px;
    }
  }

  .game-content {
    background: $text-bg;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .text-box {
    background: $game-bg-color;
    padding: 15px;
    border-radius: 5px;
    cursor: grab;
  }

  .next-button {
    background: $button-bg;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }

  // Media queries para dispositivos medianos y pequeños
  @media (max-width: 768px) {
    .game-container {
      margin: 40px 5px 0;
      padding: 15px;
    }

    .corner-icon {
      width: 40px;
      height: 40px;
    }

    .game-content {
      padding: 15px;
      margin-top: 50px;
    }

    .next-button {
      padding: 8px 16px;
      font-size: 14px;
      margin-top: 15px;
    }
  }

  @media (max-width: 480px) {
    .game-container {
      margin: 20px 5px;
      padding: 10px;
    }

    .game-content {
      padding: 10px;
      margin-top: 40px;
    }

    .next-button {
      padding: 6px 12px;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
