<ion-content [fullscreen]="true">
  <img
    src="../../assets/icon/arrow.png"
    alt="Icono Izquierda"
    class="corner-icon corner-icon-left"
    (click)="goBack()"
  />

  <div class="game-container">
    <img
      src="../../assets/icon/Volume-up.png"
      alt="Subir volumen"
      class="corner-icon corner-icon-right"
    />

    <div class="game-content">
      <div class="text-box">
        <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at risus non.</p>
      </div>
      <div class="text-box">
        <p>2. Suspendisse potenti. Integer id libero nec justo scelerisque vestibulum in nec lacus.</p>
      </div>
      <div class="text-box">
        <p>3. Quisque eget justo sit amet est faucibus ultrices. Vivamus non dolor auctor.</p>
      </div>
    </div>
    
    <button class="next-button">HURRENGOA</button>
  </div>
</ion-content>
