.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.corner-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;

  &-right {
    top: env(safe-area-inset-top, 15px);
    right: 10px;
    margin-top: 100px;
  }
}

.content-center {
  position: absolute;
  top: calc(env(safe-area-inset-top, 20px) + 15%); 
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  svg {
    width: 320px;
    height: 180px;

    .styled-title {
      font-family: 'Arial', sans-serif;
      font-size: 35px;
      font-weight: bold;
      fill: orange;
      stroke: white;
      stroke-width: 1px;
      letter-spacing: 2px;
    }
  }
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  background-color: #FF6F00;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 16px;
  width: 80%;
  max-width: 350px;
  height: 60px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  display: block;
}

.character-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 12%;
  left: 0;
  right: 0;
  text-align: center;

  .character-Mari {
    width: 140px;
    height: auto;
  }

  .character-Peru {
    width: 180px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .corner-icon {
    width: 40px;
    height: 40px;
  }

  .content-center {
    top: 15% !important; 
  }

  svg {
    width: 320px !important; 
    height: 180px !important; 
  }

  .styled-title {
    font-size: 35px !important; 
  }

  .center-button {
    font-size: 16px;
    height: 45px;
  }

  .character-section {
    bottom: 10%;
    gap: 15px;

    .character-Mari {
      width: 120px;
    }

    .character-Peru {
      width: 150px;
    }
  }
}
.corner-icon-right {
  width: 50px !important; /* Tamaño fijo */
  height: 50px !important;
}
@media (max-width: 768px) {
  .center-button {
    font-size: 20px;
    width: 95%;
    height: 90px;
  }
}