<ion-content class="ion-padding" style="touch-action: none">
  <img
    src="../../assets/icon/arrow.png"
    alt="Icono Izquierda"
    class="corner-icon corner-icon-left"
    (click)="goBack()"
  />

  <!-- Contenedor con estilo personalizado -->
  <div class="game-container">
    <img
      src="../../assets/icon/Volume-up.png"
      alt="Subir volumen"
      class="corner-icon corner-icon-right"
      (click)="playAudio()"
    />
    <p>
      Hemen gatoz lau,<br>

      <ion-input
        [(ngModel)]="respuesta1"
        placeholder="hitza"
        class="input-inline"
        [ngClass]="{'input-error': errorRespuesta1}"
        clearInput="true">
      </ion-input>
      jotzen bi,<br>
      
      emoizu limosnea<br>
      Jangoikoagaitik.<br>
      Erregeak datoz<br>
      
      Erregeak adoratzen.<br>
      Gu bere   <ion-input
      [(ngModel)]="respuesta2"
      placeholder="hitza"
      class="input-inline"
      [ngClass]="{'input-error': errorRespuesta2}"
      clearInput="true">
    </ion-input> gatoz<br>
      limosnea batzen.<br>
      <br>
      Apalazio zalduna<br>
      
      <ion-input
        [(ngModel)]="respuesta3"
        placeholder="hitza"
        class="input-inline"
        [ngClass]="{'input-error': errorRespuesta3}"
        clearInput="true">
      </ion-input>
      Erregeen eguna,<br>

      zotzak eta paluak<br>
      <ion-input
        [(ngModel)]="respuesta4"
        placeholder="hitza"
        class="input-inline"
        [ngClass]="{'input-error': errorRespuesta4}"
        clearInput="true">
      </ion-input> atsoaren kontuak.
    </p>
  </div>

  <!-- Botón para verificar las respuestas -->
  <div class="bottom-bar">
    <button class="next-button" (click)="verificarRespuestas()">HURRENGOA</button>
  </div>
</ion-content>
