ion-content {
  --background: #a5d300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  touch-action: none;
}

.corner-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;

  &-left {
    top: env(safe-area-inset-top, 15px);
    left: 10px;
  }
}

.game-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.grid-cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  user-select: none;
}

.next-button {
  border: 2px solid white;
  background-color: #ff6f00;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 12px;
  width: 80%;
  max-width: 200px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  transition: 0.3s;
  bottom: 3%; 
}
.letter-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 2px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
}

.letter {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
  touch-action: none;
  font-weight: bold;
  text-align: center;
}

.letter.selected {
  background-color: #ff6f00;
  color: white;
}
.bottom-bar p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.word-list {
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;

  h3 {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
  }

  li {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
    background: #f0f0f0;
    border-radius: 5px;
  }

  li.found {
    text-decoration: line-through;
    color: #ff6f00;
  }
}
.win-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; 
  z-index: 1000;
}

.win-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
