<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background">
    <img src="../../assets/images/DALL·E-2024-12-04-12.01.png" alt="Fondo" class="background-image" />
    
    <div class="character-section">
      <img src="../../assets/images/InvertidaMari.png" alt="Personaje 1" class="character character-left" />
      <img src="../../assets/images/PeruArgazkia-removebg-preview.png" alt="Personaje 2" class="character character-right" />
    </div>

    <div class="dialog">
      <div class="dialog-arrow"></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>

    <ion-button expand="full" color="warning" class="next-button">
      HURRENGOA
    </ion-button>
  </div>
</ion-content>

<style>
  .background {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .character-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
    padding: 0 10px;
  }

  .character {
    width: 100px;
    height: auto;
  }

  .character-left {
    align-self: flex-start;
  }

  .character-right {
    align-self: flex-end;
  }

  .dialog {
    position: absolute;
    bottom: 30%;
    left: 15%;
    right: 35%;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
    color: #333;
  }

  .dialog-arrow {
    position: absolute;
    bottom: -10px;
    left: 20%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }

  .next-button {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
    font-weight: bold;
    --border-radius: 15px;
  }
</style>
