<ion-content class="ion-padding">
  <img
    src="../../assets/icon/arrow.png"
    alt="Icono Izquierda"
    class="corner-icon corner-icon-left"
    (click)="goBack()"
  />
  
  <div class="game-container">
    <div class="card-grid">
      <div *ngFor="let card of cards; let i = index" 
           class="card" 
           [class.revealed]="card.revealed"
           (click)="revealCard(i)">
        <div class="card-inner">
          <div class="card-front" [style.backgroundImage]="'url(' + card.img + ')'"></div>
          <div class="card-back"></div>
        </div>
      </div>
    </div>
  </div>

  <button class="next-button" (click)="goToNextPage()">HURRENGOA</button>
</ion-content>
