<ion-content [fullscreen]="true">
  <img
    src="../../assets/icon/arrow.png"
    alt="Icono Izquierda"
    class="corner-icon corner-icon-left"
    (click)="goBack()"
  />

  <iframe
    src="https://www.jigsawplanet.com/?rc=play&amp;pid=23801b503f2b&amp;view=iframe"
    style="width: 100%; height: 600px"
    frameborder="0"
    allowfullscreen
  ></iframe>

  <button class="next-button" (click)="goToNextPage()">HURRENGOA</button>

  <div *ngIf="showWinImage" class="win-image-overlay">
    <img [src]="winImage" alt="Caminito Image" class="win-image">
  </div>
</ion-content>
