.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
    .corner-icon {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 10;
  
      &-left {
        top: 10px;
        left: 10px;
      }
  
      &-right {
        top: 10px;
        right: 10px;
      }
    }
  
    .character-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 15%;
      width: 100%;
      padding: 0 10px;
  
      .character {
        width: 200px;
        height: auto;
      }
  
      .character-mari {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .character-right {
        align-self: flex-start;
        margin-top: -400px;
      }
    }
  
    .dialog {
      position: absolute;
      top: -100%; 
      left: 50%;
      transform: translateX(-50%);
      background: white;
      border-radius: 15px;
      padding: 10px 15px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 14px;
      color: #333;
      width: 300px;
      max-width: 100%;
      word-wrap: break-word;
  
      .dialog-arrow {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
      }
    }
  
    .next-button {
      border: 2px solid white;
      background-color: #FF6F00;
      color: white; 
      border-radius: 15px; 
      font-weight: bold;
      font-size: 20px; 
      padding: 6px 12px; 
      width: auto; 
      min-width: 160px; 
      height: 50px; 
      cursor: pointer; 
      position: absolute;
      outline: none; 
      transition: 0.3s; 
      bottom: 5%;
      left: 10%;
      right: 10%;    
    }
  }
  