ion-content {
  --background: #a5d300;
}

.titulua {
  display: flex;
  justify-content: center; // Centra horizontalmente
  align-items: center; // Asegura alineación vertical si es necesario
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.game-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
  height: 700px;
}

.corner-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.corner-icon-left {
  top: env(safe-area-inset-top, 15px);
  left: 10px;
}

.texto-opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.opciones-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-bottom: 20px;
}

.next-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.next-button {
  border: 2px solid white;
  background-color: #ff6f00;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  width: 80%;
  max-width: 200px;
  height: 50px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.character-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.character {
  width: 150px;
}

.dialog {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  max-width: 80%;
  text-align: center;

  .dialog-arrow {
    position: absolute;
    left: -10px; // Mueve la flecha a la izquierda
    top: 50%; // Centra verticalmente
    transform: translateY(-50%); // Ajusta la posición correctamente

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black; // Flecha apuntando hacia el diálogo
  }
}
.win-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1000;
}

.win-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}