// Configuraci贸n del fondo
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Posicionamiento del contenido central
.content-center {
  position: absolute;
  top: calc(env(safe-area-inset-top, 20px) + 15%); // Baja el contenido para evitar la barra
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  svg {
    width: 320px;
    height: 180px;

    .styled-title {
      font-family: 'Arial', sans-serif;
      font-size: 35px;
      font-weight: bold;
      fill: orange;
      stroke: white;
      stroke-width: 1px;
      letter-spacing: 2px;
    }
  }
}

//  Adaptaci贸n para m贸viles
@media (max-width: 768px) {
  .content-center {
    top: calc(env(safe-area-inset-top, 10px) + 12%); // Ajuste para m贸viles
  }

  svg {
    width: 280px;
    height: 160px;

    .styled-title {
      font-size: 28px;
    }
  }
}


// Bot贸n centrado
.center-button {
  border: 2px solid white;
  background-color: #FF6F00;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 12px;
  width: auto;
  min-width: 160px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: 0.3s;
}

// Icono en la esquina
.corner-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;

  &-left {
    top: env(safe-area-inset-top, 15px); // Evita solapamiento con la barra de notificaciones
    left: 10px;
  }
}

// Mapa centrado
#map {
  width: 80vw;
  height: 60vh;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &.show-map {
    opacity: 1;
  }
}

//  Adaptaci贸n para m贸viles
@media (max-width: 768px) {
  .corner-icon {
    width: 40px;
    height: 40px;
  }

  .content-center {
    top: 10%;
  }

  svg .styled-title {
    font-size: 28px;
  }

  #map {
    width: 95vw;
    height: 50vh;
  }
}
