<div class="background">
  <img
    src="../../assets/images/DALL·E-2024-12-04-12.01.png"
    alt="Fondo"
    class="background-image"
  />

  <img
    src="../../assets/icon/arrow.png"
    alt="Icono Izquierda"
    class="corner-icon corner-icon-left"
    (click)="goBack()"
  />

  <div class="content-center">
    <svg width="320" height="180">
      <defs>
        <path id="curve1" d="M 10,60 Q 160,-10 310,60" fill="transparent" />
        <path id="curve2" d="M 10,120 Q 160,50 310,120" fill="transparent" />
      </defs>
      <text class="styled-title">
        <textPath href="#curve1" startOffset="50%" text-anchor="middle">
          GERNIKATIK
        </textPath>
      </text>
      <text class="styled-title">
        <textPath href="#curve2" startOffset="50%" text-anchor="middle">
          MUNDURA
        </textPath>
      </text>
    </svg>
  </div>
</div>

<div id="map"></div>
