// Configuración del fondo
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Posicionamiento del contenido central
  .content-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
    svg {
      .styled-title {
        font-family: 'Arial', sans-serif;
        font-size: 35px; // Tamaño más pequeño
        font-weight: bold;
        fill: orange;
        stroke: white;
        stroke-width: 1px;
        letter-spacing: 2px;
      }
    }
  }
  
  // Botón centrado
  .center-button {
    border: 2px solid white; // Borde blanco
    background-color: #FF6F00; // Fondo naranja
    color: white; // Texto blanco
    border-radius: 15px; // Bordes redondeados
    font-weight: bold;
    font-size: 20px; // Tamaño de fuente más pequeño
    padding: 6px 12px; // Espaciado interno
    width: auto; // Ajusta el ancho automáticamente
    min-width: 160px; // Tamaño mínimo
    height: 50px; // Altura ajustada
    cursor: pointer; // Cursor de mano al pasar
    text-align: center; // Centrar texto
    outline: none; // Elimina el borde al hacer clic
    transition: 0.3s; // Transición suave
  }
  
  // Icono en la esquina
  .corner-icon {
    position: absolute;
    width: 50px; 
    height: 50px;
    z-index: 10;
    &-left {
      top: 10px;
      left: 10px;
    }
  }
  // Sección de personajes
  .character-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
  
    .character-Mari, .character-Peru {
      width: 150px;
      height: auto;
    }
  }
  

  
  #map {
    width: 50vw; /* 50% del ancho de la pantalla */
    height: 50vh; /* 50% de la altura de la pantalla (hace el mapa cuadrado) */
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    position: fixed; /* Fijar la posición para que esté en el centro de la pantalla */
    top: 50%; /* Mueve el mapa a la mitad de la pantalla */
    left: 50%; /* Mueve el mapa a la mitad de la pantalla */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo correctamente */
    z-index: 10;
  }
  
  #map.show-map {
    opacity: 1;
  }
  
  