<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ejemplo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background">
    <img
      src="../../assets/images/DALL·E-2024-12-04-12.01.png"
      alt="Fondo"
      class="background-image"
    />

    <!-- Iconos en las esquinas -->
    <img
      src="../../assets/icon/arrow.png"
      alt="Icono Izquierda"
      class="corner-icon corner-icon-left"
    />
    <img
      src="../../assets/icon/map.png"
      alt="Icono Derecha"
      class="corner-icon corner-icon-right"
    />

    <div class="character-section">
      <div class="character-wrapper character-mari">
        <img
          src="../../assets/images/InvertidaMari.png"
          alt="Personaje 1"
          class="character"
        />
      </div>

      <img
        src="../../assets/images/InvertidoPeru.png"
        alt="Personaje 2"
        class="character character-right"
      />
      <div class="dialog">
        <div class="dialog-arrow"></div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
    </div>

    <ion-button expand="full" color="warning" class="next-button">
      HURRENGOA
    </ion-button>
  </div>

  <style>
    .background {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .corner-icon {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 10;
    }

    .corner-icon-left {
      top: 10px;
      left: 10px;
    }

    .corner-icon-right {
      top: 10px;
      right: 10px;
    }

    .character-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 15%;
      width: 100%;
      padding: 0 10px;
    }

    .character {
      width: 200px;
      height: auto;
    }

    .character-mari {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .character-right {
      align-self: flex-start;
      margin-top: -400px;
    }

    .dialog {
      position: absolute;
      top: -100%; 
      left: 50%;
      transform: translateX(-50%);
      background: white;
      border-radius: 15px;
      padding: 10px 15px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 14px;
      color: #333;
      width: 300px;
      max-width: 100%;
      word-wrap: break-word;
    }

    .dialog-arrow {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
    }

    .next-button {
      position: absolute;
      bottom: 5%;
      left: 10%;
      right: 10%;
      font-weight: bold;
      --border-radius: 15px;
    }
  </style>
</ion-content>
